.dashboard-wrapper{
  position: relative;
  width: 100%;
  height: calc(100% - 120px);
  display: flex;
  flex-direction: row;
}
.dashboard-list-container{
  margin-right: -15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.dashboard-map-container{
  display: flex;
  width: calc(100% - 485px);
}
agm-map{
  height: 100%;
  width: 100%;
}
.venue-item{
  width:calc(100% - 10px);
  border-radius: 5px;
  margin: 5px;
  background-color: white;
  padding: 10px 0 10px 0;
}
.venue-item:hover{
  background-color: #a9a9a9;
  transition: all ease-out 0.3s;
}
.venue-item-name{

  font-size: 20px;
}
.venue-item-header{
  display: flex;
  flex-direction: row;
}
.venue-item-text-block{
}
.venue-item-categories{
  color: lightgray;
}
.venue-item-comments{
font-size: small;
}
.comment-container{
  display: flex;
}
.venue-item-comments-photo{
  margin: 0 10px 0 10px;
}
.venue-item-icon{
  margin: 10px 0 5px 0;
}
.venue-item-photo{
  margin: 0 10px 10px 10px;
  border-radius: 10px;
}
.more-items-btn{
  cursor: pointer;
  text-align: center;
  padding: 20px;
  width: 100px;
  background-color: white;
  border-radius: 8px;
}
.search-btn{
  background-color: #ff3753;
  padding: 20px;
  border-radius: 20px;
  color: white;
  opacity: 0.2;
  z-index: 1;
  position: absolute;
  top: 20px;
  right: 20px;
}
.search-btn:hover{
  transition: all ease-out 0.3s;
  opacity: 1;
  cursor: pointer;
}
.search-btn:active{
  background-color: black;
}
